
body {
  background-color: #DDE7E7;
}

div {
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
  color: #616264;
}

img {
  border-radius: 10px;
}

